.paginationContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .paginationButton {
    padding: 5px 10px;
    margin: 0 5px;
    background-color: #6A040F;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }
  
  .paginationButton:hover {
    background-color: #FFBA08;
    color: black;
  }
  
  .numbers {
    background-color: #FFBA08;
    color: black;
    cursor: pointer;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 45%;
  }
  .numbers:hover {
    background-color: #6A040F;
    color: white
  }

  .currentPage {
    background-color: #6A040F;
    color: #FFBA08;
  }
  