.Card {
    display: flex;
    flex-direction: column;
    border: 2px solid #03071E;
    border-radius: 15px;
    padding: 10px;
    background-color: #F48C06;
}
.Card img {
    max-width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 15px;
}
.Name {
    font-size: 18px;
    font-weight: bold;
    color: #6A040F;
    margin-bottom: 10px;
}
.boton {
    margin-top: auto;
}
